*.mkv
*.webm
*.mp4
*.DS_Store
*.out
*.o
*.swp

# Generic build directories
build/
**/build/
**/Build/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.a
*.so
*.dylib
*.xcodeproj/

# CLion
.idea/
*.iml
cmake-build-*

# VS Code
.vscode/
*.code-workspace
